.ig1 {
    background-image: url('../../content/Project/Footy/footy-dark.jpg');
}
.ig2 {
    background-image: url('../../content/Project/Expense/expense-one.jpg');
}
.ig3 {
    background-image: url('../../content/Project/Kekeit/keke-it-mock.jpg');
}
.ig4 {
    background-image: url('../../content/Project/Expense/expense-one.jpg');
}